<div class="container">
  <carousel interval="6000" pause="hover">
    <slide>
      <img src="/images/books.jpg" />
      <div class="carousel-caption">
        <h4>This is slide one</h4>
        <p>This is the text for slide one</p>
      </div>
    </slide>
    <slide>
      <img src="/images/books.jpg" />
      <div class="carousel-caption">
        <h4>This is slide asdf</h4>
        <p>This is the text for slide one</p>
      </div>
    </slide>
  </carousel>

<div class="row">&nbsp;</div>
  
<div class="row">
  <div class="col-lg-8">
    Some block of text describing Portitude and droning on and on about the life changing benefits of art and literature

  </div>
<div class="col-lg-4">
  <sidenav></sidenav>
</div>
</div>
  
</div>